body{
  background-color: #ccc9aa;
  border: 40px ridge #fafdea;
}
header{font-size: 30px}
h1 {font-size: 100px; color:#e8e8e8: (100, 0, 0, 0.5); font-family: cursive; text-align: center;
}
img {
  width: 30%
}
h1{font-size: 100px;fint font-family: inherit; color: #333333; text-align: center;
border> 5px dotted: #333333}
